<!--News deletion -->
{% extends 'sidebar.html' %}

{% set title = "News Post Deletion" %}

{% block content %}
<h1 style = "text-align: center; text-decoration: underline;">News Post Deletion</h1>
<div class="overflow-scroll table-responsive p-4" style="height:500px;">
    <form name="deleteForm" id="deleteForm" method="POST" action="{{ url_for('deletePost') }}" novalidate>
        <table class="table table-striped align-middle" >
            <thead class="table-dark">
                <th>News Posts</th>
                <th></th>
            </thead>
            <tbody>


            {%for x in range(selectedPosts.count())%}
                <tr>
                    <td>{{selectedPosts[x].title}}</td>
                    <td>
                        <input type="checkbox" name="deleted" id="deleted" value="{{selectedPosts[x].title}}">
                    </td>
                </tr>


            {% endfor %}

            </tbody>

    </table>
        <button class="btn btn-lg" type="submit" name="admin">Delete Post</button>
    </form>
</div>



<div class="row justify-content-center p-4">

</div>
{% endblock %}