{% extends 'sidebar.html' %}

{% set title = "Administrator Settings" %}

{% block content %}
<h1>Admin Page</h1>

  <form id="admin"></form>

  <div class="overflow-scroll table-responsive p-4" style="height:500px;">
    <table class="table table-striped align-middle">
      <thead class="table-dark">
        <tr>
          <th>Radial Velocity Files</th>
          <th>Date</th>
          <th>Public Access</th>
        </tr>
      </thead>
      <tbody>

        {% for x in range(RV.count()) %}
          <tr>
            <td>{{RV[x].FILENAME}}</td>
            <td>{{RV[x].MJD}}</td>
            <td>
              <input type="radio" name="date_public" form="admin">
            </td>
          </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>

  <div class="overflow-scroll table-responsive p-4" style="height:500px;">
    <table class="table table-striped align-middle ">
      <thead class="table-dark">
        <tr>
          <th>News Files</th>
          <th>Front Page</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Add Files</td>
          <td>
            <input type="radio" name="front_news" form="admin">
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="row justify-content-center p-4">
    <button class="btn btn-lg" type="submit" form="admin">Apply Changes</button>
  </div>
{% endblock %}