{% extends 'base_page.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6 justify-content-center">
        <h3 class="text-center">Radial Velocity Graph</h3>
        <div id="graph"></div>
    </div>
    <div class="col-lg-6 justify-content-md-center">
        <h3 class="text-center">News of the Week</h3>

        <div class="row justify-content-center">
        {% include 'article.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var graphs = {{plot | safe}};
    
    Plotly.plot('graph',graphs,{});
</script>
{% endblock %}