
{% extends 'base_page.html' %}

{% block content %}
<h1>Account</h1>
<p>Change email address:</p>
<form action="">
  <label for="oemail">Old Email:</label><br>
  <input type="text" id="oemail" name="oemail"><br>
  <label for="nemail">New Email:</label><br>
  <input type="text" id="nemail" name="nemail"><br><br>
  <input type="submit" value="Submit">
</form>
<p>Change institution:</p>
<form action="">
  <label for="oinstitution">Old Institution:</label><br>
  <input type="text" id="oinstitution" name="oinstitution"><br>
  <label for="ninstitution">New Institution:</label><br>
  <input type="text" id="ninstitution" name="ninstitution"><br><br>
  <input type="submit" value="Submit">
</form>
<p>Change name:</p>
<form action="">
  <label for="oname">Old Name:</label><br>
  <input type="text" id="oname" name="oname"><br>
  <label for="nname">New Name:</label><br>
  <input type="text" id="nname" name="nname"><br><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}