<!DOCTYPE html>

<html lang="en">

{% include 'header.txt' %}

<body>

{% include 'navbar.txt' %}

<main role="main" class="container">
    <h1>APPENDIX PAGE</h1>

    <ul>
      <li> <b>Angstrom:</b>
         10<sup>-10</sup> meters
      </li> <b>Flux:</b>
         The number of particles to hit a sensor in a set amount of time.
      <li> <b>Modified Julian Data (MJD):</b>
         Where D is the number of days since midnight on November 17<sup>th</sup> 1858,
         D + (H + (M + S/60)/60)/24
      </li>
      <li> <b>Radial Velocity:</b>
         The rate of change of the distance between an object and a given point. 
      </li>
    </ul>
</main>

{% include 'footer.txt' %}

</body>
</html>
