{% macro nav_link(endpoint, text) %}

    {% if request.endpoint.endswith(endpoint) %}
    <li class="nav-item active">
        <a class="nav-link text-light" href="{{ endpoint }}">{{text}}<span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link text-light" href="{{ endpoint }}">{{text}}</a>
    </li>
    {% endif %}
    
{% endmacro %}

{% macro side_link(endpoint, text) %}

    {% if request.endpoint.endswith(endpoint) %}
    <a href="{{ endpoint }}" class="list-group-item list-group-item-action bg-dark text-light active">{{text}}</a>
    {% else %}
    <a href="{{ endpoint }}" class="list-group-item list-group-item-action bg-dark text-light">{{text}}</a>
    {% endif %}
    
{% endmacro %}