<!doctype html>
<html>
<head>
  {% include 'header.txt' %}
    <title></title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}" />
</head>
<body>
    <h1>Home Page</h1>
    {% include 'navbar.txt'%}

    <div class="home_container">
      <div class="home_member">
        <h3><u>Radial Velocity Graph: XYZ</u></h3>
        <div id="graph"></div>

      </div>
      <div class="home_member">
        <h3><u>News of the Week</u></h3>

        <div class="row justify-content-md-center">
        {% include 'news.txt' %}
        </div>

      </div>

      </div>

      {% include 'footer.txt' %}
</body>
      <script type="text/javascript">
        var graphs = {{plot | safe}};
        Plotly.plot('graph',graphs,{});
      </script>
</html>
