<!DOCTYPE html>

<html lang="en">

  {% include 'header.txt' %}

  <body>

    {% include 'navbar.txt' %}

    <main role="main" class="container">

        <div class="row justify-content-md-center">
            <div class="col-md-10 blog-main ">

              {% include 'news.txt' %}

              <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
              </nav>
              <br>
            </div><!-- /.blog-main -->
          </div>


    </main><!-- /.container -->

    {% include 'footer.txt' %}

  </body>
</html>
