<!DOCTYPE html>

<html lang="en">

  {% include 'header.txt' %}

  <body>

    {% include 'navbar.txt' %}

    <main role="main" class="container">

        <div class="row justify-content-md-center">
            <div class="col-md-10 blog-main ">
              <h3 class="pb-3 mb-4 font-italic border-bottom">
                From the Firehose
              </h3>
              <img src="{{ url_for('static',filename='solar.jpg') }}" class="img-fluid" alt="Responsive image">

              <br/>
    
              <div class="blog-post">
                <h2 class="blog-post-title">Information and stuff</h2>
                <p class="blog-post-meta">Jan 14, 2021 by <a href="#">Somebody</a></p>
    
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                  <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                  <li>Donec id elit non mi porta gravida at eget metus.</li>
                  <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
              </div><!-- /.blog-post -->
    
              <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
              </nav>
              <br>
            </div><!-- /.blog-main -->
          </div>


    </main><!-- /.container -->

    
    {% include 'footer.txt' %}

  </body>
</html>