<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}" />
    <title>LOST EXPRES Capstone Project</title>
</head>

<body>
    <div class="topnav">
        <a href="/">LOST EXPRES</a>
    </div>
    <div class="subtitle">
        A Capstone Project
    </div>

    <img src="{{ url_for('static',filename='logo.png') }}" alt="LOST EXPRES">
    This website is temporary, and currently under construction
    <br>
    Please contact us using our emails:

    <br><br>Brooke Caldwell
    <br>bec243@nau.edu

    <br><br>Jared Cox
    <br>jac973@nau.edu

    <br><br>Olivia Thoney
    <br>opt4@nau.edu

    <br><br>Ian McIlrath
    <br>ikm25@nau.edu

    <br><br>Austin Bacon
    <br>akb364@nau.edu

    <br><br>
    <footer></footer>
</body>