{% extends 'sidebar.html' %}

{% set title = "Administrator Settings" %}

{% block content %}
<h1 class="p-3">Admin Page</h1>

<!-- RV Table -->
  <form id="admin"></form>

  <h3 class="p-3">Radial Velocity Data</h3>
  <div class="overflow-scroll table-responsive p-4" style="height:500px;">
    <table class="table table-striped align-middle">
      <thead class="table-dark">
        <tr>
          <th>Radial Velocity Files</th>
          <th>Date</th>
          <th>Public Access</th>
        </tr>
      </thead>
      <tbody>

        {% for x in range(RV.count()) %}
          <tr>
            <td>{{RV[x].FILENAME}}</td>
            <td>{{RV[x].MJD}}</td>
            <td>
              <input type="radio" name="date_public" form="admin">
            </td>
          </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>

<!-- News Table -->
  <h3 class="p-3">News on Front Page</h3>
  <div class="overflow-scroll table-responsive p-4" style="height:500px;">
    <table class="table table-striped align-middle ">
      <thead class="table-dark">
        <tr>
          <th>News Files</th>
          <th>Front Page</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Add Files</td>
          <td>
            <input type="radio" name="front_news" form="admin">
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="row justify-content-center p-4">
    <button class="btn btn-lg" type="submit" form="admin">Apply Changes</button>
  </div>

<!-- Glossary Form -->
  <h3 class="p-3">Add Terms to Glossary</h3>

  <form id="glossaryForm" method="POST" action="{{ url_for('addTerm') }}">
    <div class="row mb-3">
      <label for="term" class="col-sm-2 col-form-label">Term</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="term" value="Term" name="term">
      </div>
    </div>
    <div class="row mb-3">
      <label for="definition" class="col-sm-2 col-form-label">Definition</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="definition" name="definition" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Term</button>
  </form>

{% endblock %}
