{% extends 'sidebar.html' %}

{% set title = "Administrator Settings" %}

{% block content %}
<h1 style = "text-align: center; text-decoration: underline;">News Page</h1>
<br>
<br>

<form id="adminAddNews"></form>


<!-- Page Header -->
<header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h2><span class="subheading">Update News Posts Here:</span></h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="addForm" id="addForm" method="POST" action="{{ url_for('addPost') }}" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Post Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" id="title" required data-validation-required-message="Please enter your post's title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Subtitle</label>
                        <input type="text" class="form-control" placeholder="Subtitle" name="subtitle" id="subtitle" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Author</label>
                        <input type="text" class="form-control" placeholder="Author" name="author" id="author" required data-validation-required-message="Please enter author name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Blog Content</label>
                        <textarea rows="5" class="form-control" placeholder="Content" name="content" id="content" required data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </form>
        </div>
    </div>
</div>

<hr>

{% endblock %}
